.visualizer {
  &__items-outer-container {
    position: relative;
    overflow: hidden;
    height: 50px;
  }

  &__items-container {
    display: flex;
    flex-flow: row;
    position: relative;
    width: 100%;
  }

  &__buttons-container {
    height: auto;
    display: flex;
    align-items: center;
    &__button {
      margin: 0.5rem;
    }
  }
}
