.loader-container {
  position: relative;
  &__loader {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 0.5rem;
  }

  &__visualizer {
    display: flex;
    align-items: center;
    padding: 0.5rem;
  }

  &__multicontainer {
    display: flex;
    flex-flow: row;
    height: auto;
  }

  &__buttoncontainer {
    padding-top: 0.5rem;
  }

  &__deletemultibutton {
    height: 42px;

    &:focus,
    &:hover {
      outline: none;
    }
  }
}
