.visualizer {
  &__items-outer-container {
    position: relative;
    overflow: hidden;
    height: 104px;
  }

  &__items-container {
    display: flex;
    flex-flow: row;
    position: relative;
    width: 100%;
  }
}
