.tab-layout {
  display: flex;
  justify-content: center;
  margin-top: 10px;

  &__link {
    padding: 10px 20px;
    border: none;
    border-bottom: 2px solid transparent;
    font-size: 1rem;
    cursor: pointer;
    color: inherit;
    text-decoration: none;
    background: var(--nis-col-back);

    &:hover {
      border-bottom-color: #0062cc;
    }

    &.--active {
      background-color: var(--nis-col-low);
      border-bottom-color: var(--nis-col-back);
    }
  }

  &__svg {
    width: 30px;
    height: 30px;
    fill: white;
    stroke: white;
  }
}
